# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
myvenv/

# Database
db.sqlite3

# Logs
*.log

# Static & media files
staticfiles/
media/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db